.backgroundAnime {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 300%;
    transform: rotate(45deg);
    z-index: 0;
    overflow: hidden;
}
.backgroundAnime::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 5%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.4);
  /* -webkit-box-shadow: 0px 0px 22px 5px rgba(255,255,255,0.1);  */
  box-shadow: 0px 0px 22px 5px rgba(255,255,255,0.5);
  transform: rotate(-45deg) translateX(-500px);
  animation: anime 7s ease infinite;
}

@keyframes anime {
  15% {
    transform: rotate(-45deg) translateX(1000px);
  }
  100% {
    transform: rotate(-45deg) translateX(1000px);
  }
}
